
header {
	display: flex;	
	flex-direction: column;	
	justify-content: center;
	background-image:url(../Media/animal.jpg);	
	background-size: cover;
	height:300px;
}

header a{

	text-decoration: none;
	color:white;	
    background-color: #F75C00;
    padding: 0.5%;
    border-radius: 15px;
    border: 2px solid black;
}

header h1{
	font-family: 'Macondo Swash Caps', cursive;
	text-align: center;
	font-size: 4em;
	color: black;
}

#nav{
	margin-top: 8%;
}
main{
	display: flex;
	justify-content: center;
	

}
#form{
	background-color: #CAB6AF;
	text-align: center;
	margin: 2%;
	padding: 2%;
	border-radius: 15px;
	border: 2px solid black;

}

#fiche{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
#liste{
	background-color: #CAB6AF;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin:2%;
	align-items: center;
	width:35%;
	border-radius: 15px;
	border:2px solid black;
}
.nom{
	font-size:3vw;
	font-family: 'Macondo Swash Caps', cursive;
}

img{
	height:150px;
	width:200px;
	border-radius: 15%;

}
.des{
	width:80%;
	text-align: justify;
	text-align: center;
}
p{
	margin:1%;
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
}

button{
	text-decoration: none;
	color:white;	
    background-color: red;    
    border-radius: 15px;
    border: 2px solid black;
    margin:5%;
}

@media screen and (max-width: 600px){
	#liste{
		width:80%;
	}
	.nom {
		font-size: 2em;
	}
}

